# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS / Windows
.DS_Store
Thumbs.db

# Docker
*.log
*.pid